@font-face {
  font-family: "haxrcorp";
  src: url("../assets/fonts/haxrcorpttf.ttf");
}
html, body {
  height: 90vh;
  margin: 0;
}

body {
  background: #000;
  color: #fff;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAABlBMVEUMDAwRERF5DuGoAAAAEklEQVQI12NgYGRkAEEEQhIBAADZAA2xXf1ZAAAAAElFTkSuQmCC);
  font-family: haxrcorp, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

a, input {
  font-family: inherit;
  color: inherit;
}

main {
  margin: 0 auto;
  height: 319px;
  width: 672px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 7px;
  grid-auto-rows: minmax(12px, auto);
}

#date {
  grid-column: 1 / 5;
  grid-row: 1;
  text-transform: uppercase;
}

aside {
  grid-column: 5;
  grid-row: 2 / 17;
}

#links, #video {
  grid-column: 1 / 5;
  grid-row: 2 / 16;
}

footer {
  grid-column: 1 / 5;
  grid-row: 16;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#links h2 {
  text-align: center;
  font-weight: 100;
}
#links div ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 1em 2em;
}
#links a {
  display: block;
  color: inherit;
  text-decoration: none;
  line-height: 1em;
  min-width: 4em;
}
#links a:hover {
  text-decoration: underline;
  background: rgba(0, 0, 0, 0.1);
}

aside {
  background: #fff center center no-repeat;
  background-size: cover;
}

#links, #video {
  background: #fff;
  color: #000;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
footer > * ~ * {
  margin-left: 7px;
}
footer button {
  border: 0;
  outline: 0;
  width: 12px;
  height: 12px;
  background: #fff;
}
footer button:hover {
  background: #666666;
}
footer form {
  display: inline-block;
  flex: 1 1 auto;
}
footer input {
  border: 0;
  box-sizing: border-box;
  padding: 0 4px;
  width: 100%;
  height: 12px;
  color: #000;
  font-size: 1em;
}

.first-screen aside {
  background-image: url(../assets/weeb/m1.min.gif);
}
.first-screen footer button:first-child {
  background: #8c8c8c;
}
.first-screen #video {
  display: none;
}

.second-screen aside {
  background-image: url(../assets/weeb/m2.min.gif);
}
.second-screen footer button:nth-child(2) {
  background: #8c8c8c;
}
.second-screen #links {
  display: none;
}
