body {
  background: #2f4f4f;
  font-family: Verdana, sans-serif;
  text-align: center;
}

h1 {
  color: #008000;
}

hr {
  margin: 0.5em auto;
  max-width: 400px;
  border: #808080 solid 1px;
}

form label {
  color: crimson;
}

a {
  cursor: none;
  color: cadetblue;
  text-decoration: none;
}
